@import "./node_modules/typeface-roboto/index.css";
* {
  font-family: "Roboto", "roboto", "Courier New", "Courier", monospace;
}

.mapButton:hover .tooltip {
  display: block;
}
.itemButton:hover .tooltip {
  display: block;
}

.tooltip {
  display: none;
  background: #c8c8c8;
  margin-left: 28px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  width: 200px;
  height: 100px;
}

#itemButtonHolder {
  display: grid;
  border: 1px;
  border-style: solid;
  grid-template-columns: repeat(10, 1fr);

  width: fit-content;
  block-size: fit-content;
}

#inventoryContainer {
  width: fit-content;
  block-size: fit-content;
}

#mapsButtonHolder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 7px;
  width: fit-content;
  block-size: fit-content;
}

#pages {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  width: 95%;
}
div#pages * {
  display: inline-block;
}

.secondaryTab {
  display: none;
}

.mapButton {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  background-color: #828080;
  font-size: 15px;
  color: #060606;
}

body {
  background-color: #2d2d2d;
  color: #dedede;
}

input {
  background-color: #9c9c9c;
}

button {
  background-color: #8c8b8b;
}
